{% extends 'base.html.twig' %}

{% block body %}
    {{ product.name }}

    <form method="post" action="{{ path('app_add_to_cart', {'id': product.id}) }}">
        <input type="submit" value="submit">
    </form>

{% endblock %}